* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  padding-inline: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

nav ul li {
  list-style: none;
  font-size: 16px;
}

nav button {
  background-color: #D01C28;
  padding: 6px 16px;
  border: none;
  color: white;
}

/* hero section */

.hero {
  height: calc(100vh - 70px);
  max-width: 1125px;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: auto;
  margin-block: 30px;
}

.heroContant {
  width: 50%;
}

.hero .heroContant h2 {
  font-size: 55px;
}

.hero .heroContant p {
  font-size: 16px;
  padding-block: 36px;
}

.hero .heroContant .buttons {
  display: flex;
  gap: 50px;
  margin-bottom: 36px;
}

.hero .heroContant .buttons button {
  padding: 6px 16px;
  font-size: 24px;
}

.hero .heroContant .buttons .shop {
  background-color: #D01C28;
  color: white;
  border: none;
}

.hero .heroContant .buttons .category {
  background-color: white;
  color: gray;
}

.hero .heroContant .available {
  margin-bottom: 16px;
}

.hero .heroContant .brand {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero .heroImg {
  width: 50%;
}